<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Multiple Trades!</h4>
</div>
<div class="modal-body">
    Enter Number of Trades
    <input type="number" ng-model="vm.tradeCount" min="0">
    <div class="text-warning" id="errorCount"></div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="vm.create()">Create</button>
    <button class="btn" ng-click="vm.cancel()">Cancel</button>
</div>