<section id="login-view" class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        	<h1>Log In</h1>
		    <div class="form-group">
		        <select class="form-control input-lg" ng-model="vm.userSelect" ng-options="user.name for user in vm.users track by user.id">
		        </select>
		    </div>
		    <div class="form-group">
		        <input type="button" class="btn btn-lg btn-default bold" value="Login" ng-click="vm.userlogin()">
		    </div>
		</div>
	</div>
</section>