<section id="login-view" class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        	<h1>Log In</h1>
		    <div class="form-group">
		        <select class="form-control input-lg" ng-model="vm.userSelect" ng-options="user.name for user in vm.users track by user.id">
		        </select>
		    </div>
		    <div class="form-group">
		    	<button type="button" class="btn btn-default btn-lg btn-primary"  ng-click="vm.userlogin()">
				  	 Login <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				</button>
		    </div>
		</div>
	</div>
</section>